# Environment
.env
__pycache__/
*.pyc
.venv/

# Data
*.mp3
*.wav
*.flac
*.m4a
*.aac
*.aif

#for our audio uploads
data/uploads/session_*/*.json

# Models (if large)
models/*.pkl
models/*.bin
models/*.h5
*.model

# OS
.DS_Store
Thumbs.db

info/*.pdf